*{ /*tüm sayfa için geçerli yaptık*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 20px;

}  


.container{
    background-color: black;
    color: rgb(255, 255, 255);
    
    
}
.navbar{
    background-color: black;
    height: 60px;
    color:rgb(253, 253, 253);
    position:sticky; /*scroll yaparken sidebarın sabit kalması için*/
    top: 0; /*sidebarın en üstte kalması için*/
    z-index: 1;/*sidebarın diğer içeriklerin üstünde kalması için z-index verdik*/
}

.sidebar{
    background-color: black;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 40px;
    display: flex; /*flexbox kullanarak içindeki ikonu ortaladık*/
    flex-direction: column; /*ikonu dikeyde ortalamak için*/
    padding-top: 60px; /*sidebarın navbarın altında başlaması için*/
    row-gap: 40px; /*sidebar ikonları arasına boşluk verdik*/
    position: fixed; /*sidebarın sabit kalması için*/
    top: 0; /*sidebarın en üstte kalması için*/
    align-items: center; /*sidebar ikonlarını yatayda ortaladık*/
}
.sidebar i{
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor:pointer;
}

.sidebar i:hover{
    color: rgb(229, 9, 20);
    transition: 1s ease;
    transform: scale(1.5);
}

.navbar-wrapper{
    display: flex; /*flexbox kullanarak yan yana dizdik*/
    justify-content: space-between; /*başlangıç ve bitişe yasladık*/
    align-items: center; /*dikeyde ortaladık*/
    height: 100%; /*navbarın tamamını kaplaması için*/
    padding: 0 50px; /*sağ ve sol boşluk verdik*/
    
    
}
.menu-list{
    display: flex;  /*flexbox kullanarak yan yana dizdik*/
    list-style: none; /*liste işaretlerini kaldırdık*/
    column-gap: 40px; /*liste elemanları arasına boşluk verdik*/
    
}

.menu-list-item{
    cursor: pointer;
    padding: 0;
}

.menu-list-item:hover{
    color: rgb(229, 9, 20);
    transition: 1s ease;
    transform: scale(1.05);

}

.logo{
    color: rgb(229, 9, 20);
    font-size: 40px;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -5px;
   

  
}

.logo:hover{
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
    transform: scale(1.05);
}

.profile-container{
    display: flex; /*flexbox kullanarak yan yana dizdik*/
    align-items: center; /*dikeyde ortaladık*/
    column-gap: 10px; /*profil resmi ve ismi arasına boşluk verdik*/
}

.profile-image{
    width: 32px;
    height: 32px;
    border-radius: 50%; /*resmi daire yapar*/
    object-fit: cover; /*resmin tamamını kapsar*/

}

.profile-text-container{
    display: flex; /*flexbox kullanarak yan yana dizdik*/
    align-items: center; /*dikeyde dizdik*/
    line-height: 1; /*satır yüksekliği verdik*/
    column-gap: 5px; /*isim ve alt yazı arasına boşluk verdik*/
}

.toggle{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 25px;
    border-radius: 12.5px;
    display: flex; /*flexbox kullanarak içindeki ikonu ortaladık*/
    justify-content: space-around; /*yatayda ortaladık*/
    align-items: center; /*dikeyde ortaladık*/
    position: relative;
    transition: all 1s ease; /*geçiş efekti ekledik*/
    cursor: pointer; /*toggleun tıklanabilir olması için*/
}

.toggle-ball{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    transition: all 1s ease; /*geçiş efekti ekledik*/
    position: absolute;/*toggle topunun toggle içinde hareket etmesi için position absolute verdik*/
    cursor: pointer;
    left: 20px;/*toggle aktif olmadığında topun sAĞDA kalması için*/
}

.toggle-ball.active{
    
    background-color: rgb(255, 255, 255);
    left: auto; /*toggle aktif olduğunda topun sağa kayması için left'i otomatik yaptık*/   
    right: 20px;/*toggle aktif olduğunda topun sağa kayması için*/
    transition: all 1s ease; /*geçiş efekti ekledik*/
}

.toggle-icon{
    color:rgb(0, 0, 0);
}

.content-wrapper{
    margin-left: 35px; /*sidebarın genişliği kadar boşluk verdik*/
    padding: 0px; /*içerik ile kenarlar arasında boşluk verdik*/

}

.featured-content{
    background: url(./assets/spider-man.jpg);
    padding: 50px 20px;
    height: calc(100vh - 60px);
    background-size: 100% 100%;
}

.featured-image{
   width: 500px;
}

.featured-desc{
    width: 500px;
    padding: 10px;
    margin: 30px 0;
    background-color:rgba(255, 255, 255, 0.5);
    color:black

}

.featured-buttons{
    display: flex;
    column-gap: 25px;

}

.featured-buttons .info-button{
    padding: 10px 20px;
    border: none;
    outline: none; /*butonun kenarlıklarını kaldırdık*/
    border-radius: 2px;
    cursor: pointer; /*butonun tıklanabilir olması için*/
    display: flex; /*flexbox kullanarak içindeki ikonu ortaladık*/
    align-items: center; /*dikeyde ortaladık*/
    justify-content: center; /*yatayda ortaladık*/
    column-gap: 10px;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    width: 150px;
}

.movie-list-filter{
    margin: 20px 0 20px 50px;
    padding: 7px;
    
}

.movie-list-filter select{
    background-color: black;
    color:rgb(255, 255, 255);
    width: 125px;
    padding: 7px 0;
}

.movie-list-container{
    margin-left: 70px;

}

.movie-list{
    list-style: none;
    padding: 0;
    height: 300px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    transform: translateX(0);
    transition: 1s ease all ease-in-out;


}

.movie-item{
    position: relative;/*movie itemlerin üst üste gelmesi için position relative verdik*/
}

.movie-item:hover .movie-item-title, .movie-item:hover .movie-item-buttons{
    opacity: 1;
    transition: 1s ease;
}

.movie-item:hover, .movie-item-image:hover{
    transform: scale(1.05);
    transition: 0.5s ease;
    opacity: .5;
    margin: 0 20px;
}

.movie-item-image{
    width: 270px;
    border-radius: 10px;
    height: 200px;
    object-fit: cover; /*resmin tamamını kapsar daha güzel gözükür*/
    transition: 1s ease;
}

.movie-item-title{
    background-color: rgba(50, 50, 50, 0.5);
    padding: 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0; /*başlangıçta title görünmemesi için opacity verdik*/
    
}

.movie-item-buttons{
    background-color: rgba(50, 50, 50, 0.5);
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 70px;
    bottom: 10%;
    column-gap: 20px;
    display: flex;
    opacity: 0; /*butonların görünmemesi için başlangıçta opacity verdik*/
    

}

.movie-item-buttons i{
    cursor: pointer;
    opacity: .7;
    font-size: 24px;
    transition: 0.5s ease;

}

.movie-item-buttons i:hover{
    opacity: 1;
    color: rgb(255, 255, 255);
    
}

.movie-list-wrapper{
    overflow: hidden; /*movie listinin dışına taşan kısımları gizledik*/
    position: relative; /*movie listinin içindeki elemanların üst üste gelmesi için position relative verdik*/
}

.arrow{
   width: 100px;
   display: flex;
   font-size: 120px;
   position:absolute;
   right:0;
   top: 100px;
   opacity: .5;
   transition: .5s ease;
    cursor: pointer;

}

.arrow:hover{
 
   opacity: 1;
   cursor: pointer;

}

.container.active{
    background-color: white;
    color:rgb(0, 0, 0);

}

.navbar.active{
    background-color: white;
    color:rgb(0, 0, 0);
}

.sidebar.active{
    background-color: white;
    color: rgb(0, 0, 0);
}

.sidebar i.active{
    color: rgb(0, 0, 0);
}
.toggle.active{
    background-color: rgb(0, 0, 0);
}
.toggle-icon.active{
    color: white;
}






select.active{
    background-color: white;
    color: rgb(0, 0, 0);
}

.movie-item-title.active{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.movie-item-buttons.active{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.movie-item-buttons i.active{
    color: black;
}

.movie-list-filter select.active{
    background-color: white;
    color: black;
}   


/*responsive tasarım için media query ekledik*/
@media only screen and (max-width: 800px){
    .menu-container{
        display: none; /*menu containerını gizledik*/
    }
    .featured-desc{
        overflow: hidden; /*featured descin taşan kısmını gizledik*/
        display:-webkit-box;
        
        -webkit-box-orient: vertical;
        max-width: 200px; /*featured descin genişliğini küçülttük*/
        padding: 0;
        font-size: 10px; /*featured descin font boyutunu küçülttük*/
    }

    .featured-title{
        width: 200px; /*featured titleın font boyutunu küçülttük*/
    }
    .featured-content{
        height: 50vh; /*featured contentin yüksekliğini küçülttük*/
    }
    .featured-buttons .info-button{
        width: 100px; /*featured butonlarının genişliğini küçülttük*/
        font-size: 9px; /*featured butonlarının font boyutunu küçülttük*/
        height: 25px; /*featured butonlarının yüksekliğini küçülttük*/
        
    }

     .movie-item-image{
        width: 300px; /*movie item image genişliğini küçülttük*/
        height: 150px; /*movie item image yüksekliğini küçülttük*/
        padding: 0 20px; /*movie item imageın kenarlara yapışmaması için padding verdik*/
        
    }

     .movie-item-title{
        font-size: 24px; /*movie item title font boyutunu küçülttük*/
        right: 20px; /*movie item titleın sağda kalması için right verdik*/
    }

     .movie-item-buttons{
        left: 50px; /*movie item buttonların solda kalması için left verdik*/
        bottom: 10%; /*movie item buttonların daha yukarıda kalması için bottom verdik*/
        font-size: x-small; /*movie item buttonların font boyutunu küçülttük*/
    }

     .arrow{
        font-size: 80px; /*arrow ikonunun boyutunu küçülttük*/
    }

    .movie-list{
        column-gap: 20px; /*movie listindeki elemanlar arasındaki boşluğu küçülttük*/
        right: 20px; /*movie listin sağda kalması için right verdik*/
    }

    .movie-list-container{
        margin-left: 20px; /*movie list containerının sol boşluğunu küçülttük*/
    }

     .movie-list-filter{
        margin: 10px 10px 10px 40px; /*movie list filterın sol boşluğunu küçülttük*/
    }

     .movie-list-filter select{
        width: 100px; /*movie list filter selectinin genişliğini küçülttük*/
    }

     .featured-image{
        width: 300px; /*featured image genişliğini küçülttük*/
    }   

    .logo-wrapper{
        font-size: small;
    }

     .profile-container{
        font-size: small;
    }
    .movie-list-title{
        
        padding: 0 20px; /*movie list titleın kenarlara yapışmaması için padding verdik*/
    }

    



    
    
}




